/**** Carousel 
**********************/
/* Container */
.container-fluid {
	background: #FFFFFF;
	padding: 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
/* Page Header */
.page-header {
	background: #f9f9f9;
	margin: -30px -40px 40px;
	padding: 20px 40px;
	border-top: 4px solid #ccc;
	color: #999;
	text-transform: uppercase;
}
.page-header h3 {
	line-height: 0.88rem;
	color: #000;
}
/* Thumbnail Box */
.caption h4 {
	font-size: 15px;
	color: #444;
}
.caption p {
	font-size: 17px;
	color: #999;
}
.btn.btn-mini {
	font-size: 0.63rem;
}
/* Carousel Control */
.control-box {
	text-align: right;
	width: 100%;
}
.carousel-control{
	background: #666;
	border: 0px;
	border-radius: 0px;
	display: inline-block;
	font-size: 34px;
	font-weight: 200;
	line-height: 18px;
	opacity: 0.5;
	padding: 4px 10px 0px;
	position: static;
	height: 30px;
	width: 15px;
}

ul {
	padding: 0px;
	margin: 0px;
}
ul li.span3 {
    float: left;
    width: 25%;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
::selection {
	background: #ff5e99;
	color: #FFFFFF;
	text-shadow: 0;
}
::-moz-selection {
	background: #ff5e99;
 	color: #FFFFFF;
}

a, a:focus, a:active, a:hover, object, embed { outline: none; }
:-moz-any-link:focus { outline: none; }
input::-moz-focus-inner { border: 0; }

.carousel {
	box-shadow: none;
	border-bottom: 2px solid #ddd;
	width: 100%;
	/*height: 360px;*/
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

.carousel .carousel-control {
    top: 29%;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    font-size: 55px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background: rgba(0, 0, 0, 0.3);
    filter: alpha(opacity = 50);
}