#categoryCheckbox {
	width: 100%;
}

#categoryCheckbox > .checkbox-inline {
    padding-top: 4px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    float: left;
    width: 25%;
}